.daily-overview {
    margin: 10px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day-item {
    margin-bottom: 20px;
}

.day-header {
    background-color: #f8f9fa;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day-header:hover {
    background-color: #e9ecef;
}

.day-details {
    padding: 15px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 10px;
}

.booking-item {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.booking-item h4 {
    margin-bottom: 5px;
    color: #007bff;
}

.booking-item p {
    margin: 5px 0;
    line-height: 1.5;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.add-booking-btn {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
    transition: background-color 0.3s, color 0.3s;
}

.add-booking-btn:hover {
    background-color: #f0f0f0;
    color: black;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close-button {
    background: none;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.weather-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.weather-info img {
    width: 20px;
    height: 20px;
}

.weather-details {
    display: flex;
    align-items: center;
    gap: 5px;
}

.temp-toggle-btn {
    position: absolute;
    right: 0; 
    top: 15px; 
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #222946;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100px;
}

.temp-toggle-btn:hover {
    background-color: #f3ab03;
}

.past-day .day-header {
    background-color: #f0f0f0;
    color: #999;
}

.past-day .day-details {
    background-color: #f9f9f9;
    color: #999;
}

