.itinerary-header {
    text-align: center;
    margin-bottom: 20px;
}

.booking-cards {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
    justify-content: center; /* Center the entire row of cards */
    gap: 20px; /* Space between cards */
    margin: 20px auto;
    max-width: 1000px; /* Set a maximum width to control the row */
}

.booking-card {
    flex: 1 1 30%; /* Each card will take up about 30% of the container width */
    max-width: 300px; /* Prevent the card from getting too wide */
    min-width: 200px; /* Ensure cards are not too small */
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.booking-card:hover {
    background-color: #f8f9fa;
    transform: scale(1.05);
}


.card-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}


.bookings {
    margin: 20px;
}

.booking-section {
    margin-bottom: 20px;
}

.booking-section h3 {
    margin-bottom: 10px;
}

.booking-item {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.booking-item h4 {
    margin-bottom: 5px;
    color: #007bff;
}

.booking-item p {
    margin: 5px 0;
    line-height: 1.5;
}

.memory-board {
    margin: 20px;
}

.itinerary-container {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.react-tabs {
    margin-top: 20px;
}

.react-tabs__tab-list {
    border-bottom: 2px solid #ccc;
    padding-left: 0;
    margin: 0 0 10px;
    list-style-type: none;
}

.react-tabs__tab {
    display: inline-block;
    border: 1px solid #ccc;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
}

.react-tabs__tab--selected {
    background-color: #fff;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
}

.react-tabs__tab-panel {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.itinerary-header h1 {
    margin-bottom: 10px;
    font-size: 24pt;
    color: black;
}

.itinerary-header p {
    margin-top: -10px;
    font-size:14pt;
    color: #666;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}
