.itinerary-container {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.react-tabs {
    margin-top: 20px;
}

.react-tabs__tab-list {
    border-bottom: 2px solid #ccc;
    padding-left: 0;
    margin: 0 0 10px;
    list-style-type: none;
}

.react-tabs__tab {
    display: inline-block;
    border: 1px solid #ccc;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
}

.react-tabs__tab--selected {
    background-color: #fff;
    border-color: #aaa;
    color: black;
    border-radius: 5px 5px 0 0;
}

.react-tabs__tab-panel {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
